.bookingButton {
  width: 15%;
}

.popupWrapper {
  padding: 3%;
}

.headerLine {
  display: flex;
}

.selectionAttributes {
  display: flex;
  position: absolute;
  right: 5%;
  color: gray;
}

.mainContainer {
  display: flex;
}

.bookingInfo {
  padding-right: 3%;
}

.mapSection {
  width: 500px;
  box-shadow: 0px 2px 18px rgba(158, 158, 158, 0.5);
}

.genericPadding {
  padding: 3%;
}
